body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    width: 50vw;
    height: 70vh;
}

.pages{
    width: 100%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
    height:100%;
    
}
.cover{
    position: absolute;
    float: right;
    width: 49%;
    height:100%;
}

.cover_front{
    z-index:9;
    transform: rotateX(10deg);
    -webkit-transform: rotateX(10deg);
    transform-origin: center left;
    -webkit-transform-origin: center left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.cover_back{
    z-index:9;
    -webkit-transform: rotateX(10deg) ;
    transform: rotateX(10deg) ;
    transform-origin: center right;
    -webkit-transform-origin: center right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color:white;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    right:100%;
    border:1px solid black;
    -webkit-transform: rotateX(10deg) ;
    transform: rotateX(10deg) ;
}
.page-1{
    position: absolute;
    float: right;
    width: 47%;
    height:100%;
    background-color: white;
    z-index:8;
   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition:  2s ease-out;
    -webkit-transition:  2s ease-out ;
}
.page-2{
    float: right;
    width: 47.5%;
    height:100%;
    background-color: white;
    z-index:7;
    position: absolute;
    
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition:  1.5s ease-out;
    -webkit-transition:  1.5s ease-out ;
}
.page-3{
    float: right;
    width: 48%;
    height:100%;
    background-color: white;
    z-index:6;
    position: absolute;
   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition:  1s ease-out;
    -webkit-transition:  1s ease-out ;
}

.back{
    background: black;
    position: absolute;
    float: right;
    width: 49.5%;
    height:100%;
    transform: rotateX(10deg);
    -webkit-transform: rotateX(10deg);
    z-index:5;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.cover::before, .cover::after{
    display: block;
}


.page::before, .page::after{
    display: block;
}

.pages:hover .cover_front{
    -webkit-transform: rotateX(10deg) rotateY(180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index:9;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

.pages:hover .cover_back{
    -webkit-transform: rotateX(-10deg) rotateY(0deg);
    transform: rotateX(-10deg) rotateY(0deg);
    z-index:9;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}



.pages:hover .page.page-1{
    -webkit-transform: rotateX(10deg) rotateY(180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index:10;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
}
.pages:hover .page.page-2{
    -webkit-transform: rotateX(10deg) rotateY(180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index: 11;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}
.pages:hover .page.page-3{
    -webkit-transform: rotateX(10deg) rotateY(180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index: 12;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-delay:6s;
    transition-delay: 6s;
}

.page{
    border: 1px solid gray;
    -webkit-transform: rotateX(10deg);
    -webkit-transform-origin: center left;
    transform: rotateX(10deg);
    transform-origin:center left;
}



.cover_front,.cover_back{
    transition:  3s ease-out;
    -webkit-transition:  3s ease-out ;
}
