body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    width: 50vw;
    height: 70vh;
}

.pages{
    width: 100%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
    height:100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.cover{
    position: absolute;
    float: right;
    width: 49%;
    height:100%;
    z-index:9;
    transform: rotateX(10deg);
    -webkit-transform: rotateX(10deg);
    transform-origin: center left;
    -webkit-transform-origin: center left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.page-1{
    position: absolute;
    float: right;
    width: 47%;
    height:100%;
    background-color: white;
    z-index:8;
   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.page-2{
    float: right;
    width: 47.5%;
    height:100%;
    background-color: white;
    z-index:7;
    position: absolute;
    
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.page-3{
    float: right;
    width: 48%;
    height:100%;
    background-color: white;
    z-index:6;
    position: absolute;
   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.back{
    background: black;
    position: absolute;
    float: right;
    width: 49.5%;
    height:100%;
    transform: rotateX(10deg);
    -webkit-transform: rotateX(10deg);
    z-index:5;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.cover::before, .cover::after{
    display: block;
}


.page::before, .page::after{
    display: block;
}

.pages:hover .cover{
    -webkit-transform: rotateX(10deg) rotateY(-180deg);
    transform: rotateX(10deg) rotateY(-180deg);
    z-index:0;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}



.pages:hover .page.page-1{
    -webkit-transform: rotateX(10deg) rotateY(-180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index:1;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    width:48%;
}
.pages:hover .page.page-2{
    -webkit-transform: rotateX(10deg) rotateY(-180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index: 2;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
    width: 47.5%;
}
.pages:hover .page.page-3{
    -webkit-transform: rotateX(10deg) rotateY(-180deg);
    transform: rotateX(10deg) rotateY(180deg);
    z-index: 3;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-delay:6s;
    transition-delay: 6s;
    width: 47%;
}

.page{
    box-shadow: 1px black;
    border: 1px solid gray;
    -webkit-transform: rotateX(10deg);
    -webkit-transform-origin: center left;
    transform: rotateX(10deg);
    transform-origin:center left;
}

